version: '3.7'

services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: 'unless-stopped'
    pull_policy: always
    environment:
      - PUID=${USER_ID}
      - PGID=${GROUP_ID}
      - TZ=${TIMEZONE}
      - WEBUI_PORT=8100
    # Port will be proxied by nginx, so no need to expose it here
    # ports:
    #   - 8100:8100
    volumes:
      - ./qbittorrent:/config
      - ${DOWNLOAD_DIR}:/data
    healthcheck:
      test: ping -c 1 www.google.com || exit 1
      interval: 60s
      retries: 3
      start_period: 20s
      timeout: 10s
    networks:
      - frontend

networks:
  frontend:
    external: true