
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    restart: 'unless-stopped'
    pull_policy: always
    environment:
      - PUID=${USER_ID}
      - PGID=${GROUP_ID}
      - TZ=${TIMEZONE}
    volumes:
      - ./config:/config
      - ./cache:/cache
      - ${ENTERTAINMENT_DIR}/media:/media
    # Port will be proxied by nginx, so no need to expose it here
    # ports:
    #   - 8096:8096 
    networks:
      - frontend

networks:
  frontend:
    external: true