
services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:alpine
    command: -H unix:///var/run/docker.sock
    restart: unless-stopped
    pull_policy: always
    # Port will be proxied by traefik, so no need to expose it here
    # ports:
    #   - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - frontend
    labels:
      - "traefik.http.routers.portainer.rule=Host(`portainer.rlgland.site`)"
      - "traefik.http.routers.portainer.entrypoints=websecure"
      - "traefik.http.routers.portainer.tls.certresolver=cloudflare"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"

networks:
  frontend:
    external: true

volumes:
  portainer_data: