
services:
  obsidian:
    image: lscr.io/linuxserver/obsidian:latest
    container_name: obsidian
    restart: 'unless-stopped'
    pull_policy: always
    environment:
      - PUID=${USER_ID}
      - PGID=${GROUP_ID}
      - TZ=${TIMEZONE}
    volumes:
      - ${CONFIG_PATH}/obsidian/config:/config
    #TODO: Remove exposed ports when a proper reverse proxy solution is implemented
    ports:
      - 3000:3000
      - 3001:3001
    shm_size: "1gb"
