version: '3.7'

services:
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    restart: 'unless-stopped'
    pull_policy: always
    environment:
      - LOG_LEVEL=debug
      - TZ=${TIMEZONE}
      - PORT=5055 #optional
    volumes:
      - ./jellyseerr:/app/config
    # Port will be proxied by nginx, so no need to expose it here
    # ports:
    #   - 5055:5055
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    networks:
      - frontend

networks:
  frontend:
    external: true